<!DOCTYPE html>
<html lang="en-us">
  <head prefix="og: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/img/icon.png">
    <link rel="shortcut icon" href="/img/icon.png">
    <title>Helping seed-stage startups move mountains | Mustard Seed Capital</title>
    <meta name="robots" content="">
    <meta name="description" content="">
    <link rel="canonical" href="">
    <meta property="fb:app_id" content="">
    <meta property="fb:pages" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TwitterHandle">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <link rel="stylesheet" href="/css/styles.min.css">
    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','');</script> -->
    <!-- End Google Tag Manager -->
  </head>




  <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id="
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->




    <nav id="menu">

    </nav>
    <!--/#menu -->




    <header id="header">
      <button id="hamburger-menu"><span class="fas fa-bars"></span></button>
    </header>
    <!--/#header -->




    <main id="content">

    </main>
    <!--/#content -->




    <footer id="footer">
      <div class="container">
        &copy; 2018 Mustard Seed Capital.
      </div>
    </footer>
    <!--/#footer -->




    <script src="/node_modules/jquery/jquery.min.js"></script>
    <script src="/js/functions.min.js"></script>
  </body>
</html>
